<div class="row justify-content-center">
  <div class="col-4">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="d-flex justify-content-center">
        <img
          src="https://azparking.az/assets/images/logos/logo.png"
          alt="Logo"
          width="280"
        />
      </div>

      <label for="email">E-mail adres</label>

      <input
        type="email"
        class="form-control mb-2"
        id="email"
        placeholder="qaraqan@qaraqan.org"
        formControlName="EmailAddress"
      />
      <p
        class="validation-error"
        *ngIf="
          loginForm.get('EmailAddress')?.hasError('required') &&
          loginForm.get('EmailAddress')?.dirty
        "
      >
        Email daxil edilmədi
      </p>
      <p
        class="validation-error"
        *ngIf="
          loginForm.get('EmailAddress')?.hasError('email') &&
          loginForm.get('EmailAddress')?.dirty
        "
      >
        Email düzgün formatda daxil edilmədi
      </p>
      <label for="password">Şifrə</label>
      <input
        type="password"
        class="form-control mb-2"
        id="password"
        placeholder="********"
        formControlName="Password"
      />

      <p
        class="validation-error"
        *ngIf="
          loginForm.get('Password')?.hasError('required') &&
          loginForm.get('Password')?.dirty
        "
      >
        Şifrə daxil edilmədi
      </p>
      <button type="submit" class="btn btn-success w-100 p-2">Giriş</button>
    </form>
  </div>
</div>
