<nav class="navbar bg-body-tertiary mb-4 px-5">
  <a class="navbar-brand">
    <img
      src="https://azparking.az/assets/images/logos/logo.png"
      alt="Logo"
      width="80"
    />
  </a>
  <div *ngIf="!isLogged; else loggedInMenu">
    <div>
      <a class="btn btn-success me-2" routerLink="login">Giriş</a>
      <a class="btn btn-success" routerLink="register">Qeydiyyat</a>
    </div>
  </div>

  <ng-template #loggedInMenu>
    <div>
      <a class="btn btn-primary me-2">{{ fullName }}</a>
      <a class="btn btn-danger" (click)="logOut()">Çıxış</a>
    </div>
  </ng-template>
</nav>
